@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}



:root {
    --cor5:  #c5ebd6;
    --cor4:  #83e1ad;
    --cor3:  #3ddc84;
    --cor2:  #2fa866;
    --cor1:  #1a5c37;
    --cor0:  #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--cor5);
    font-family: var(--fonte-padrao);
}

a.externo::before {
    content: "\1F517";
}

div.video {
    background-color: #09ba5634;
    position: relative;
    padding-bottom: 50%;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90% ;
    height: 90%;
}
header {
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
    background-image: linear-gradient(to bottom,  var(--cor2), var(--cor0));
}
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3.5em;
    text-shadow: 1px 9px 9px rgba(0, 0, 0, 0.527);
}
header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    text-shadow: 1px 9px 9px rgba(0, 0, 0, 0.589);
}


nav {
    background-color: var(--cor0);
    padding: 10px;
    box-shadow: 0px 9px 11px 0px rgba(0, 0, 0, 0.522);
    
}
nav > a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition-duration: 0.3s;
}
nav > a:hover {
    transition-duration: 0.3s;
    animation: alternate 2s;
    background-color: var(--cor1);
}

main {
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.547);
    border-radius: 0px 0px 20px 20px;
}
main h1 {
    color: var(--cor0);
    font-family: var(--fonte-android);
    font-size: 1.7em;
    text-align: center;
    padding: 10px, 0px;
}
main h2 {
    font-family: var(--fonte-android);
    color: var(--cor1);
    background-image: linear-gradient(to right, var(--cor4), transparent);
    text-indent: 10px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 29px;
}
main strong {
    color: var(--cor1);
    font-weight: bold;
}
main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor0);
    background-color: var(--cor4);
    padding: 2px 4px;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor1);
    background-color: var(--cor5);
}
main img {
    width: 100%;
}
main img.pq {
    max-width: 370px;
    min-width: 290px;
    display: block;
    margin: auto;
}

aside {
    background-color: var(--cor4);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.526);
}
aside > h3 {
    background-color: var(--cor0);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
aside a {
    background-color: var(--cor5);
}
aside a:hover {
    background-color: var(--cor3);
    color: var(--cor0);
}

footer {
    background-color: var(--cor1);
    color: var(--cor5);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor5);
}
