* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;

}

h1 {
    font-size: 3em;
}
textarea {
    resize: none;
    padding: 10px;
    width: 400px;
    border: none;
    border-radius: 20px;
} textarea:focus {
    outline: none;
}
p {
    font-size: 1em;
}

@media (min-width: 560px) {
    h1 {
        font-size: 4em;
    }
    p {
        font-size: 1.5em;
    }
    textarea {
        width: 500px;
    }
}

@media (min-width: 660px) {
    h1 {
        font-size: 5em;
    }
    p {
        font-size: 1.7em;
    }
    textarea {
        width: 600px;
    }
}

@media (min-width: 950px) {
    h1 {
        font-size: 6em;
    }
    p {
        font-size: 2em;
    }
    textarea {
        width: 900px;
    }
}
