@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');

:root {
    --cor1b: #C9F9FF;
    --cor2b: #85DDFF;
    --cor3b: #39A4C4;
    --cor4b: #174d5d;
    --cor1y: #ffffff;
    --cor2y: #F5EAB1;
    --cor4y: #433e28;
    --cor3y: #332d13;
    --cor-padrao: #555;
    --cor-padrao2: #222;

    --fonte-padrao: 'Raleway', arial, Helvetica, sans-serif;
    --fonte-destaque: 'Playfair Display', serif;
    --fonte-titulo: 'Tangerine', 'Playfair Display', serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--fonte-padrao);
    height: 100%;
    background-image: linear-gradient(to bottom, var(--cor1b) 20%, var(--cor3b));
}

.logo {
    width: 45px;
}

figure {
  text-align: center; /* Centraliza tudo */
  margin: 20px 0;
}

figcaption {
  font-size: 14px;
  color: var(--cor-padrao);
  margin-top: 8px;
}

strong {
    color: var(--cor4y);
}
/* HEADER */
/* header nav main */
header div.main-header {
    background-image: linear-gradient(to top, var(--cor1b), var(--cor2b));
}
header nav.main-nav {
    background-color: rgb(243, 243, 243);
    border-bottom: 20px solid var(--cor4y);
    padding: 15px;
}
header nav.main-nav ul {
    display: flex;
    align-items: center;
}
header nav.main-nav ul li {
    list-style-type: none;
    padding: 9px 15px;
}
header nav.main-nav ul a {
    text-decoration: none;
    color: var(--cor-padrao);
    font-weight: 500;
    transition: 0.3s;
}
header nav.main-nav ul a:hover {
    color: black;
}
header nav.main-nav a {
    font-size: 15px;
}
/* header title page*/
header div.page-title {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}
header div.page-title > h1{
    text-shadow: -4px 5px 6px #00000048;
    font-family: var(--fonte-titulo);
    font-size: 6em;
}
header div.page-title > h2 {
    text-shadow: -4px 5px 6px #00000038;
    font-style: italic;
    font-weight: 500;
    font-size: 2em;
    padding-bottom: 20px;
    font-family: var(--fonte-destaque);
}
/* header nav page */
header nav.page-nav {
    padding-bottom: 20px;
}
header nav.page-nav ul{
    display: flex;
    justify-content: center;
    list-style: '|';
}
header .first {
    list-style-type: none;
}
header nav.page-nav li{
    border-bottom: 2px solid var(--cor-padrao2);
    padding: 0px 10px 8px 10px;
}

header nav.page-nav a {
    color: #000000;
    text-decoration: none;
    transition: 1s;
}
header nav.page-nav a:hover {
    font-weight: bold;
    color: var(--cor4b);
}
/* MAIN */
main {
    background-color: var(--cor1y);
    max-width: 1100px;
    margin: auto;
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 70px;

    box-shadow: -1px 0px 30px rgba(0, 0, 0, 0.34);
    border-radius: 20px;
}
main img {
    max-width: 100%;
    display: block;
    margin: auto;
}
main figure {
    margin-top: 20px;
    margin-bottom: 30px;
}

main h1, main h2{
    font-style: italic;
    color: var(--cor3y);
    font-family: var(--fonte-destaque);
    padding: 20px 0px;
    font-size: 1.7em;
    font-weight: 500;
}
main p {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    line-height: 30px;
    color: var(--cor-padrao);
}
main a {
    text-decoration: none;
    color: var(--cor3b);
    transition: 0.2s;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor4b);
}

footer {
    background-color: var(--cor4y);
    color: var(--cor2y);
    padding: 22px;
    text-align: center;
}

footer .autor a {
    text-decoration: none;
    color: var(--cor1y);
}
footer .autor a:hover {
    text-decoration: underline;
}