* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    background: #233EFF;
    background-size: contain;
    
    background-repeat: no-repeat;
    background-position: center bottom;
}

/* VERTICAL */

@media (orientation: portrait) {
    body {
        background-image: url(../imagens/cev-portrait.jpg);
    }
}

/* HORIZONTAL */

@media (orientation: landscape) {
    body {
        background-image: url(../imagens/cev-landscape.jpg);
    }
}