body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1em;
}

@media (min-width: 560px) {
    h1 {
        font-size: 4em;
    }
    p {
        font-size: 1.5em;
    }
}

@media (min-width: 660px) {
    h1 {
        font-size: 5em;
    }
    p {
        font-size: 1.7em;
    }
}

@media (min-width: 950px) {
    h1 {
        font-size: 6em;
    }
    p {
        font-size: 2em;
    }
}
